<div class="d-flex min-vh-100 align-items-center justify-content-center">
    <div class="error-page">
        <h1 id="text404" class="position-absolute">404</h1>
        <div class="error-content p-3 text-center position-relative">
            <h3>
                <i class="fas fa-exclamation-triangle text-danger">
                    ...что-то, кажется, идет не так...
                </i>
            </h3>

            <iframe id='rocket-video'
                    src="//coub.com/embed/1mr0c5ic?muted=true&autostart=true&originalSize=false&startWithHD=false"
                    allowfullscreen frameborder="0" width="318" height="240" allow="autoplay"></iframe>
            <script async src="//c-cdn.coub.com/embed-runner.js"></script>

            <p>
                Скорее Лариса Долина съедет с чужой квартиры, чем мы сможем быстро найти такую страницу.
                <br>
                Попробуйте вернуться в <a class="text-decoration-none" href="/login">начало</a>.
            </p>
        </div>
    </div>
</div>