<!-- Основное содержание -->
<div class="content ps-2 pe-2 ps-lg-3 pe-lg-3 ps-xl-5 pe-xl-5 d-flex flex-column">
    <h1 class="m-2 mb-lg-3 mt-xl-5 ps-1 pb-1" id="page-title">Редактирование категории расходов</h1>

    <!-- Область основных действий -->
    <div class="manipulate-category-area h-100 mt-3 ms-2 me-2 ps-1 pt-2 d-flex flex-column">

        <div class="error invalid-feedback mb-1 ms-1" id="common-error">Проверьте поле на корректность</div>

        <input type="text" class="form-control mb-3 text-black" name="category-name" value="Жильё" id="name-of-category"
               placeholder="Название...">
        <div class="buttons mt-0">
            <button type="button" class="btn btn-success" id="category-save">
                Сохранить
            </button>
            <button type="button" class="btn btn-danger" id="category-cancel">
                Отмена
            </button>
        </div>
    </div>
</div>